@{
    ViewData["Title"] = "Home Page";
}



<div class="text-light text-center" style="  height: 40em; width: 100%; background-image: url('../images/conf 1.png');background-repeat: no-repeat;background-size:cover;background-attachment:fixed;position:relative">
    <div style="position:absolute;top:30%;left:35%">
        <p class="text-info text-uppercase font-weight-bold">155 days to the event</p>
        <img src="~/images/brand-dotnet.png" style="width:20em;" />
        <h1 class="card-title display-4 font-weight-bolder">2020</h1>
        <p class="card-text">29 February 2020 | International Hotel, Iasi, Romania</p>
        <button class="btn btn-info">Register</button>
    </div>

</div>
