@model IEnumerable<Conference.Domain.Entities.Sponsors>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section>
        <h3 class="title-sponsor make-purple text-left font-weight-bold display-4" >Community</h3>
        <div class="row">
            <div class="col-sm-12 col-md-3 sponsor-item">
                <a href="https://www.meetup.com/DotNetIasi/" style="" target="_blank">
                    <img class="img-fluid" title="DotNetIasi" style="max-height:168px" src="https://dndays.blob.core.windows.net/partners/60/dotnetiasi.png" alt="No picture to show" />
                </a>
            </div>
        </div>
    </section>
    <section>
        <h3 class="title-sponsor make-purple text-left font-weight-bold display-4">Gold</h3>
        <div class="row">
        </div>
    </section>
    <section>
        <h3 class="title-sponsor make-purple text-left font-weight-bold display-4">Supported by</h3>
        <div class="row">
            <div class="col-sm-12 col-md-3 sponsor-item">
                <a href="http://microsoft.com" style="" target="_blank">
                    <img class="img-fluid" title="Microsoft" style="max-height:168px" src="https://dndays.blob.core.windows.net/partners/61/microsoft.png" alt="No picture to show" />
                </a>
            </div>
        </div>
    </section>
</div>
    
